Repository NuLink-network/nulink-core, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, circleci, Demos, Dependencies

fix the bond worker failed
  README.md
  dev-requirements.txt
  dev/docker/Dockerfile
  nulink/blockchain/middleware/retry.py
  nulink/characters/lawful.py
  nulink/cli/commands/porter.py
  nulink/cli/commands/ursula.py
  nulink/config/characters.py
  nulink/datastore/datastore.py
  nulink/network/middleware.py
  nulink/utilities/porter/control/interfaces.py
  nulink/utilities/porter/control/specifications/fields/ursula.py
  nulink/utilities/porter/control/specifications/porter_schema.py
  nulink/utilities/porter/porter.py
  requirements.txt
  site-packages-cover/README.md
  site-packages-cover/web3_6.0.0b1/web3/gas_strategies/time_based.py
  site-packages-cover/web3_6.0.0b1/web3/gas_strategies/time_based.py.not_been_modified
Labels: CLI, Dependencies

add docker support
  deploy/docker/DevREADME.md
  deploy/docker/DockerPush.md
  deploy/docker/Dockerfile
  deploy/docker/README.md
  deploy/docker/docker-compose.yml
  deploy/docker/porter/Dockerfile
  deploy/docker/porter/docker-compose.yml
  deploy/docker/porter/nginx/Dockerfile
  deploy/docker/porter/nginx/docker-compose.yml
  deploy/docker/porter/nginx/porter.local_location
  deploy/docker/startup.sh
  dev/docker/Dockerfile
  nulink/blockchain/eth/contract_registry/heco_testnet/contract_registry.json
  setup.cfg
  setup.py
Labels: Dependencies

adjustment LMDB parameter
  nulink/datastore/datastore.py
Labels: none

bsc testnet support and dockfile improve
  deploy/docker/DevREADME.md
  deploy/docker/DockerPush.md
  deploy/docker/Dockerfile
  deploy/docker/README.md
  docs/source/pre_application/running_a_node.rst
  examples/finnegans_wake_demo/README.md
  examples/finnegans_wake_demo/finnegans-wake-demo-l2.py
  examples/heartbeat_demo/doctor.py
  examples/heartbeat_demo/heartbeat_demo.md
  nulink/blockchain/eth/contract_registry/README.md
  nulink/blockchain/eth/contract_registry/bsc/contract_registry.json
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/networks.py
  nulink/cli/commands/ursula.py
  nulink/cli/main.py
  nulink/config/base.py
  nulink/config/characters.py
  nulink/network/nodes.py
  scripts/hooks/nulink_agents.py
  tests/metrics/grant_availability.py
Labels: CLI, Demos

fix docker readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
  nulink/cli/commands/ursula.py
  nulink/network/nodes.py
Labels: CLI

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
Labels: none

improve docker's readme.md
  deploy/docker/README.md
  nulink/characters/lawful.py
  nulink/network/trackers.py
Labels: none

ursula run task logic changes
  deploy/docker/README.md
  docs/source/application_development/testnet.rst
  docs/source/pre_application/node_requirements.rst
  nulink/blockchain/eth/clients.py
  nulink/blockchain/eth/token.py
  nulink/characters/lawful.py
  nulink/cli/commands/ursula.py
  nulink/datastore/datastore.py
  nulink/network/server.py
  nulink/network/trackers.py
Labels: CLI

fix web3 bug
  pypi_packages/web3.py-6.0.0-beta.1/README.md
  pypi_packages/web3.py-6.0.0-beta.1/web3/gas_strategies/time_based.py
Labels: none

ursula run not stop when staker not bond operator
  Pipfile
  deploy/docker/README.md
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/interfaces.py
  nulink/cli/commands/bond.py
  nulink/cli/commands/ursula.py
  nulink/network/trackers.py
  pypi_packages/web3.py-6.0.0-beta.1/pyproject.toml
  pypi_packages/web3.py-6.0.0-beta.1/setup.py
  pypi_packages/web3.py-6.0.0-beta.1/web3/__init__.py
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
  requirements.txt
Labels: CLI, Dependencies

recovery file
  nulink/cli/commands/ursula.py
Labels: CLI

improve doc
  deploy/docker/DockerPush.md
  deploy/docker/README.md
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
Labels: none

improve doc
  deploy/docker/DevREADME.md
  deploy/docker/DockerPush.md
  deploy/docker/README.md
Labels: none

improve docker readme.txt
  deploy/docker/README.md
Labels: none

improve docker readme.md
  deploy/docker/README.md
Labels: none

fix network name to horus
  deploy/docker/README.md
  docs/source/pre_application/running_a_node.rst
  examples/finnegans_wake_demo/README.md
  examples/finnegans_wake_demo/finnegans-wake-demo-l2.py
  examples/heartbeat_demo/doctor.py
  examples/heartbeat_demo/heartbeat_demo.md
  nulink/blockchain/eth/clients.py
  nulink/blockchain/eth/contract_registry/README.md
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/blockchain/eth/networks.py
  nulink/cli/commands/bond.py
  nulink/cli/commands/ursula.py
  nulink/network/nodes.py
  tests/metrics/grant_availability.py
Labels: CLI, Demos

update the testnet contract and release packages
  deploy/docker/README.md
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
Labels: none

update the release packages
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
Labels: none

close Resolves #1, close Resolves #2
  nulink/blockchain/eth/interfaces.py
  nulink/characters/lawful.py
  nulink/cli/commands/porter.py
  nulink/cli/commands/ursula.py
  nulink/cli/utils.py
  nulink/network/trackers.py
  pypi_packages/web3.py-6.0.0-beta.1/setup.py
  pypi_packages/web3.py-6.0.0-beta.1/web3/gas_strategies/time_based.py
  requirements.txt
  site-packages-cover/web3_6.0.0b1/web3/gas_strategies/time_based.py
Labels: CLI, Dependencies

update nulink packages
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
Labels: none

update packages
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
Labels: none

update packages
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
Labels: none

adjust workflows
  .github/workflows/pr_release_note_entry.yml
Labels: none

fix ursula run bugs
  Pipfile
  docs-requirements.txt
  nulink/cli/commands/ursula.py
  nulink/cli/options.py
  pypi_packages/click-8.1.2/requirements/dev.txt
  pypi_packages/click-8.1.2/src/nuclick/__init__.py
  pypi_packages/click-8.1.2/src/nuclick/core.py
  requirements.txt
  site-packages-cover/click_8.1.2/click/core.py
Labels: CLI, Dependencies

Update README.md
  README.md
Labels: none

update default teacher node
  nulink/network/nodes.py
Labels: none

update package
  release/nulink/nulink-0.1.0-py3-none-any.whl
  release/nulink/nulink-0.1.0.tar.gz
  release/nulink/nulink-0.2.0-py3-none-any.whl
  release/nulink/nulink-0.2.0.tar.gz
Labels: none

fix can't find node bug
  nulink/cli/commands/porter.py
  nulink/config/storages.py
  nulink/network/middleware.py
  nulink/network/nodes.py
  nulink/network/server.py
  nulink/utilities/networking.py
  tests/utils/middleware.py
Labels: CLI

update release packages
  release/nulink/nulink-0.2.0-py3-none-any.whl
  release/nulink/nulink-0.2.0.tar.gz
Labels: none

contract update
  deploy/docker/README.md
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  release/nulink/nulink-0.2.0-py3-none-any.whl
  release/nulink/nulink-0.2.0.tar.gz
Labels: none

add pychark packages
  release/nulink/depends/chalk.tar.gz
Labels: none

add pychark packages readme.txt
  release/nulink/depends/readme.md
Labels: none

udpate release packages
  release/nulink/nulink-0.2.0-py3-none-any.whl
  release/nulink/nulink-0.2.0.tar.gz
Labels: none

.github/labeler.yml:

ETH Contracts:
  - nulink/blockchain/eth/sol/source/**/*

CLI:
  - nulink/cli/**/*

circleci:
  - .circleci/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
