Repository NuLink-network/nulink-core, changes with the labels that .github/labeler.yml gives for each.
All labels: ETH Contracts, CLI, circleci, Demos, Dependencies

Resolve #8
  nulink/utilities/concurrency.py
  nulink/utilities/porter/porter.py
  release/nulink/nulink-0.2.0-py3-none-any.whl
  release/nulink/nulink-0.2.0.tar.gz
Labels: none

Remove incorrect prints
  nulink/network/trackers.py
Labels: none

fix worker comfirmed excepiton print
  nulink/blockchain/eth/token.py
Labels: none

fix cfrags bug
  nulink/network/middleware.py
  nulink/network/retrieval.py
  nulink/utilities/concurrency.py
  nulink/utilities/porter/porter.py
Labels: none

fix bugs
  nulink/utilities/concurrency.py
  nulink/utilities/porter/porter.py
Labels: none

reactor code
  nulink/policy/policies.py
  nulink/utilities/porter/porter.py
Labels: none

fix no enough cfrags and reactor it to Concurrent
  nulink/network/retrieval.py
Labels: none

fix some bugs
  Pipfile
  Pipfile.lock
  examples/finnegans_wake_demo/finnegans-wake-demo-l2.py
  nulink/network/retrieval.py
  nulink/policy/policies.py
  nulink/utilities/porter/porter.py
  pypi_packages/web3.py-6.0.0-beta.1/setup.py
  requirements.txt
  site-packages-cover/web3_6.0.0b1/web3/_utils/transactions.py
  site-packages-cover/web3_6.0.0b1/web3/_utils/transactions.py.not_been_modified
Labels: Demos, Dependencies

fix the parallel retrieve cfrags bug
  examples/finnegans_wake_demo/finnegans-wake-demo-l2.py
  nulink/blockchain/eth/interfaces.py
  nulink/network/middleware.py
  nulink/network/nodes.py
  nulink/network/retrieval.py
  nulink/policy/policies.py
Labels: Demos

add random fectch from nulink worker
  nulink/cli/commands/porter.py
  nulink/cli/commands/ursula.py
  nulink/cli/utils.py
  nulink/utilities/porter/porter.py
Labels: CLI

fix gasPrice bug
  examples/run_demo_ursula_fleet.py
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/heco_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/blockchain/eth/interfaces.py
  nulink/cli/commands/ursula.py
  nulink/network/nodes.py
  nulink/utilities/porter/porter.py
Labels: CLI, Demos

add conflux escape network support
  nulink/blockchain/eth/clients.py
  nulink/blockchain/eth/contract_registry/conflux_escape_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/heco_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/blockchain/eth/networks.py
  nulink/network/nodes.py
  nulink/utilities/porter/porter.py.conflux.dev.bak
Labels: none

adapter conflux
  nulink/blockchain/eth/clients.py
  nulink/blockchain/eth/contract_registry/conflux_espace_testnet/contract_registry.json
  nulink/blockchain/eth/networks.py
  nulink/cli/commands/ursula.py
  nulink/network/nodes.py
  nulink/utilities/porter/porter.py
Labels: CLI

conflux testnet
  nulink/network/nodes.py
Labels: none

fix bug
  nulink/blockchain/eth/contract_registry/heco_testnet/contract_registry.json
  nulink/blockchain/eth/networks.py
  nulink/characters/lawful.py
  nulink/crypto/keypairs.py
  nulink/network/nodes.py
  nulink/network/server.py
  nulink/utilities/porter/porter.py.conflux.prodserver.bak
  nulink/utilities/porter/porter.py.greenfieldsp.bak
Labels: none

fix bug
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/heco_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/blockchain/eth/networks.py
  nulink/characters/control/interfaces.py
  nulink/characters/lawful.py
  nulink/cli/commands/porter.py
  nulink/cli/commands/ursula2.py
  nulink/cli/commands/ursula3.py
  nulink/crypto/keypairs.py
  nulink/network/nodes.py
  nulink/network/server.py
  nulink/policy/crosschain.py
  nulink/policy/policies.py
  nulink/utilities/porter/porter.py.conflux.prodserver.bak
  nulink/utilities/porter/porter.py.greenfieldsp.bak
  tests/integration/network/test_treasure_map_integration.py
  tests/integration/porter/conftest.py
Labels: CLI

cross chain commit
  examples/finnegans_wake_demo/finnegans-wake-demo-l2.py
  nulink/blockchain/eth/clients.py
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry_v1.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/characters/lawful.py
  nulink/cli/commands/ursula.py
  nulink/cli/commands/ursula2.py
  nulink/cli/commands/ursula3.py
  nulink/network/middleware.py
  nulink/network/nodes.py
  nulink/network/retrieval.py
  nulink/network/server.py
  nulink/policy/crosschain.py
  nulink/policy/payment.py
  nulink/utilities/porter/control/interfaces.py
  nulink/utilities/porter/porter.py
  nulink/utilities/porter/porter.py.conflux.dev.bak
  nulink/utilities/porter/porter.py.conflux.prodserver.bak
  nulink/utilities/porter/porter.py.greenfieldsp.bak
  tests/utils/policy.py
Labels: CLI, Demos

update cross chain contract to V3
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry_v2.json
Labels: none

fix crosschainhrac
  examples/finnegans_wake_demo/finnegans-wake-demo-federated.py
  examples/heartbeat_demo/doctor.py
  nulink/characters/control/interfaces.py
  nulink/cli/commands/bob.py
  tests/acceptance/characters/control/conftest.py
  tests/acceptance/characters/control/test_web_control_blockchain.py
  tests/acceptance/characters/test_freerider_attacks.py
  tests/acceptance/characters/test_ursula_prepares_to_act_as_worker.py
  tests/integration/characters/control/conftest.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
Labels: CLI, Demos

fix bug
  tests/acceptance/characters/control/conftest.py
  tests/integration/characters/control/conftest.py
Labels: none

fix comment
  nulink/utilities/porter/porter.py
Labels: none

update contract
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry_v3.json
  nulink/network/nodes.py
Labels: none

fix bug
  nulink/blockchain/eth/interfaces.py
Labels: none

fix bug
  nulink/blockchain/eth/interfaces.py
Labels: none

fix bug
  nulink/network/retrieval.py
  tests/acceptance/characters/control/conftest.py
  tests/integration/characters/control/conftest.py
Labels: none

add apit
  nulink/acumen/perception.py
  nulink/characters/lawful.py
  nulink/cli/commands/bond.py
  nulink/network/nodes.py
  nulink/utilities/porter/control/interfaces.py
  nulink/utilities/porter/control/specifications/porter_schema.py
  nulink/utilities/porter/porter.py
Labels: CLI

fix bug
  nulink/network/nodes.py
  nulink/utilities/porter/porter.py
Labels: none

remove some comment
  nulink/cli/commands/bond.py
Labels: CLI

update teacher node pi
  nulink/network/nodes.py
Labels: none

add include/ursulas API
  nulink/utilities/porter/control/interfaces.py
  nulink/utilities/porter/control/specifications/fields/ursula.py
  nulink/utilities/porter/control/specifications/porter_schema.py
  nulink/utilities/porter/porter.py
Labels: none

rename some variable
  nulink/utilities/porter/porter.py
Labels: none

add stake amount code
  docs/source/glossary.rst
  nulink/__about__.py
  nulink/blockchain/economics.py
  nulink/blockchain/eth/actors.py
  nulink/blockchain/eth/agents.py
  nulink/blockchain/eth/constants.py
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry_v5.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/blockchain/eth/decorators.py
  nulink/blockchain/eth/token.py
  nulink/characters/lawful.py
  nulink/cli/actions/select.py
  nulink/cli/commands/stake.py
  nulink/cli/commands/ursula.py
  nulink/cli/literature.py
  nulink/cli/options.py
  nulink/cli/painting/staking.py
  nulink/cli/types.py
  nulink/config/characters.py
  nulink/network/middleware.py
  nulink/network/server.py
  nulink/network/trackers.py
  nulink/types.py
  nulink/utilities/prometheus/collector.py
  tests/acceptance/blockchain/actors/test_investigator.py
  tests/acceptance/blockchain/actors/test_operator.py
  tests/acceptance/blockchain/agents/test_adjudicator_agent.py
  tests/acceptance/learning/test_fault_tolerance.py
  tests/acceptance/utilities/test_prometheus_collectors.py
  tests/integration/blockchain/test_currency.py
Labels: CLI

add stake function
  nulink/blockchain/eth/actors.py
  nulink/blockchain/eth/agents.py
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/cli/commands/stake.py
  nulink/cli/painting/staking.py
Labels: CLI

fix bug
  nulink/cli/commands/stake.py
Labels: CLI

add function
  nulink/blockchain/eth/actors.py
  nulink/blockchain/eth/agents.py
  nulink/cli/commands/stake.py
  nulink/cli/literature.py
Labels: CLI

add stake function
  nulink/blockchain/eth/actors.py
  nulink/cli/commands/stake.py
  nulink/cli/literature.py
Labels: CLI

fix bug
  nulink/blockchain/eth/actors.py
  nulink/blockchain/eth/contract_registry/bsc_testnet/contract_registry.json
  nulink/blockchain/eth/contract_registry/horus/contract_registry.json
  nulink/blockchain/eth/interfaces.py
  nulink/blockchain/eth/signers/software.py
  nulink/blockchain/eth/token.py
  nulink/cli/commands/porter.py
  nulink/cli/commands/stake.py
  nulink/cli/commands/ursula.py
  nulink/cli/commands/ursula2.py
  nulink/cli/commands/ursula3.py
  nulink/cli/literature.py
  nulink/config/base.py
  nulink/config/constants.py
  nulink/crypto/keystore.py
  nulink/network/middleware.py
  nulink/network/nodes.py
  nulink/network/server.py
  nulink/utilities/porter/control/interfaces.py
  nulink/utilities/porter/control/specifications/porter_schema.py
  nulink/utilities/porter/porter.py
  pypi_packages/web3.py-6.0.0-beta.1/web3/tools/benchmark/main.py
Labels: CLI

fix porter API bug
  nulink/network/middleware.py
  nulink/network/nodes.py
  nulink/network/server.py
  nulink/utilities/porter/control/interfaces.py
  nulink/utilities/porter/control/specifications/porter_schema.py
  nulink/utilities/porter/porter.py
Labels: none

update the teacher node
  nulink/network/nodes.py
Labels: none

Globally suppress this warning : InsecureRequestWarning
  nulink/cli/commands/ursula.py
  nulink/cli/commands/ursula2.py
  nulink/network/nodes.py
Labels: CLI

.github/labeler.yml:

ETH Contracts:
  - nulink/blockchain/eth/sol/source/**/*

CLI:
  - nulink/cli/**/*

circleci:
  - .circleci/**/*

Demos:
  - examples/**/*

Dependencies:
  - Pipfile
  - Pipfile.lock
  - setup.py
  - dev-requirements.txt
  - requirements.txt
